{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>generations d'image</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        
        <div class="container-button">
            <form action="" method="post">
                <div class="button-click">
                    <button>Generer</button>
                </div>
            </form>
        </div>
        <div class="article-container">
            <div class="date" >
                <h4>03/10/2024</h4>
            </div>
            <div class="article-title">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing e</h2>
            </div>
            <div class="article-shapo">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, perspiciatis!
                     Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, quo.</p>
            </div>
            <div class="article-content">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat veniam similique consequatur 
                    incidunt, esse animi eius quo, corporis eveniet mollitia sapiente illo inventore libero, pariatur vel aliquid facilis
                     eos! In maxime numquam excepturi aspernatur delectus a totam, similique asperiores illo unde veniam dolores. Quisquam ut
                      commodi magni distinctio, ex neque dolorum praesentium labore nemo, corrupti quibusdam eaque dicta voluptatem placeat
                       suscipit odit doloribus. Debitis quas qui tempora provident laborum eum, perspiciatis adipisci architecto exercitationem 
                       quae vitae, praesentium magni reprehenderit obcaecati libero fugiat totam neque excepturi! Nihil, molestias optio. Qui non 
                       in ipsum, commodi rem soluta ab sapiente numquam velit pariatur corrupti sequi minima necessitatibus adipisci architecto
                        dolores quibusdam saepe, quisquam nulla id laudantium ipsa molestiae? Nesciunt nulla repellat quae nemo culpa debitis 
                        doloremque sequi! Laborum debitis minus et sequi quas numquam aspernatur ducimus quaerat nobis nisi. Nemo animi 
                        eos architecto consequatur minima, numquam necessitatibus quod nulla exercitationem repellat molestiae, beatae iusto
                         tempora distinctio perferendis dolorem ab error atque amet, deserunt asperiores. Distinctio, asperiores officiis?
                          Eligendi nostrum quam ab consectetur iure ipsam hic quas vero voluptates, id, temporibus laboriosam, nulla explicabo?
                           Inventore omnis quasi vel aliquid, voluptatum officia maxime facere tempora accusamus quibusdam, perferendis, 
                           temporibus numquam deleniti possimus? Rerum enim ea deserunt quos eveniet eaque repudiandae temporibus aliquid dolores
                            itaque dolorum ipsa, aperiam, eius, libero cupiditate. Temporibus error molestias ipsam. Commodi amet maxime 
                            voluptates at dolorum ducimus veniam sed totam, animi omnis aliquam, consequuntur quos quam nihil alias vitae fugit 
                            deserunt, itaque natus. Quia alias, eveniet beatae modi, in esse nemo minima molestiae voluptas consequuntur earum, 
                            ullam ex facere perferendis nobis officiis neque blanditiis fuga atque magni quis impedit dignissimos. Consectetur 
                            incidunt itaque iste dicta distinctio fugit a quibusdam earum reprehenderit eum vel sunt pariatur qui impedit numquam 
                            quidem rem, labore ex asperiores laudantium voluptas iusto. Natus maiores mollitia ab sit possimus, pariatur magni 
                            perferendis minima fugiat non, tempora, nihil obcaecati quos. In quidem modi illo laudantium culpa tempore qui. Aperiam,
                             velit eaque. Ipsa laborum perspiciatis repellat soluta cum, illum laboriosam officia odio beatae, accusantium animi 
                             dignissimos voluptatum ducimus necessitatibus natus labore nam suscipit vitae unde eaque. Tempore, in quas 
                             rem voluptatem nisi similique eos officiis dolorem molestias fugiat accusantium perferendis dolore quo consectetur
                             , earum optio possimus vel incidunt commodi aliquid excepturi non vero? Autem, commodi. Quae facere, aliquid ipsa eius id libero
                              omnis qui molestiae at magnam? Libero non optio laudantium molestiae aut, accusamus porro tenetur labore, suscipit facere, ullam
                               ratione error odio magni ex aperiam quasi obcaecati? Consequatur praesentium quibusdam similique enim est nesciunt, at
                                porro dolorum asperiores. Officia minima sint dolorum natus consectetur pariatur voluptate perspiciatis, tenetur ea eveniet 
                                quibusdam, sunt harum facere, incidunt delectus ex quos molestiae. Voluptate eaque eos minima eum nisi nulla, quia totam quae 
                               impedit reprehenderit accusamus id tempore, placeat earum et labore. Enim incidunt ab, fuga error officiis facilis
                              saepe. Beatae et ullam totam quia temporibus! Accusantium nemo quo adipisci sapiente, recusandae nam sint, quisquam 
                    sequi et vel laboriosam sunt consequuntur. Eveniet, quidem ipsum. Dolorem unde expedita eaque esse veniam doloremque, sequi et?</p>
            </div>
        </div>
    </div>
</body>
</html>