{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>generations d'image</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        
        <div class="container-button">
            
                <div class="button-click">
                    <a href="{% url 'index' %}" style="text-decoration: none; color: coral; font-size: 20px;">Accuille</a>
                </div>
           
        </div>
        <div class="article-container">
            <div class="date" >
                <h4>03/10/2024</h4>
            </div>
            <div class="article-title">
                <h2>{{article.title}}</h2>
            </div>
            <div class="article-shapo">
                <p>{{article.article_chapo}}</p>
            </div>
            <div class="article-content">
                <p>{{article.content}}</p>
            </div>
        </div>
    </div>
</body>
</html>